body{
  background-color: aliceblue;
}
input{
  border-radius: 0% !important;
  outline: 0px !important;
    --webkit-appearance: none;
    box-shadow: none !important;
}
input:focus{
  outline: none !important;
  border: solid 2px rgb(2, 128, 0) !important;
}

button{
  border-radius: 0% !important;
  background-color: rgb(2, 128, 0) !important;
}